/* CSS Stylesheet Page*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-color: #FAF0E6 ;
    color: #595959;
    
}

#container{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

header{
   height: 50px;
 }


#container header nav{
  padding-top: 20px;
}

#container header nav ul{
    padding-left: 0;
    width: 380px;
    text-align: center;
    margin-left: 780px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
    
#container header nav ul li{
    display: inline-block;
    border-radius: 10px;
}

#container header nav ul li a{
    font-family: arial;
    line-height: 32px;
    display: inline-block;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: #595959;
    
}

nav ul li a:active {
  position: relative;
  top: 2px;
  left: 2px;
}


a{
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
    
}
   /*Home Page*/
#home {
    position: relative;
    text-align: center;
}

     
#home img{
    height: 600px;
    width: 1200px; 
    margin: 20px 0;
    opacity: 0.75;
    
  }

  .top{
    position: absolute;
    top: 100px;
    left: 499px;
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
    color: white;
    }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(-50%, -50%);
    
     }
   
  #home a{
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: solid #737373 2px;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 30px;
    margin: 10px;
    font-size: 25px;
    color: #595959;
  }
/* Footer*/
  footer{
    width: 1160px;
    height: 50px;
    padding: 10px 20px;
  }
  
  footer p{
    margin: 4px;
    display: inline-block;
    text-align: left ;
    
  }
      
  #media{
      float: right;
      padding-left: 10px;
      padding-right: 10px; 
      
  }
  
  #media img{
      height: 20px;
      width: 20px;
      padding: 5px;
      opacity: 0.90;
      
  }

/* Contact Page*/        
#contact{
    height: 600px; 
    width: auto;
    margin-bottom: 20px;
}

#contact img{
    display: inline-block;
    padding: 10px;
    margin: 20px 10px 10px 10px;
    width: 640px; 
    height: 427px;

}
        
textarea {
  resize: none;
}
        
      
form {
    display: block;
    width: 400px;
    padding: 10px 40px 10px 40px ;
    margin: 0px 10px 10px 10px;
    position: absolute; 
    top: 160px; 
    left: 700px;
    background-color:#E0C5BB;
    box-shadow: 5px 10px 8px #888888;
}
      
form > input {
      font-family: Arial;
      font-size: 18px;
      font-weight: bold;
      background-color: white;
      color: indianred;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      border-radius:6px;
      padding:10px;
      margin: 10px;
      box-shadow: 5px 10px 8px #888888;
      
}
      
form > label {
      font-family: Arial;
      font-size: 18px;
      color: #11354C;
}

         
form > p {
      font-size: 17px;
      color: #11354C;
}
  
#article {
    width: 1200px; 
    height: 600px; 
    background-color:#E0C5BB;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}
  
#article h1{
    font-family: times;
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
    
}
  /*Project page*/      
.projectcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titleproject{
  font-size: 25px;
  text-align: center;
  padding: 10px; 
}

.gallery img{
  width: 400px;
  height: 266px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border: solid #a6a6a6 1px;
  border-radius: 15px;
  opacity: 0.90;
  }
/* About Page*/ 
#about{
position: relative;
text-align: center;
background-color: #E0C5BB;
width: 1200px; 
height: 600px; 

}
#about h1{
  font-family: times;
    font-size: 32px;
    padding-top: 50px; 
    text-align: center;

}

#about div p{
  width: 600px;
  margin-bottom: 60px;
  margin-left: 60px; 
  padding-top: 30px;
  text-align: left;
  line-height: 1.6;

}

#about img {
  display: inline-block;
  width: 260px; 
  height: 390px;
  margin-top: -450px; 
  margin-left: 600px;
  padding-bottom: 30px;
  
}

#contacttitle{
  font-size: 25px;
  text-align: center;
  font-family: cursive;
}

        
          
           

          
        
        
        
        